<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <a class="btn btn-secondary mb-3" th:href="@{/concerts/}">Back to Concert List</a>
        <h1>Seat Management</h1>
        <ul class="list-group">
            <!--TODO: add <li> and iterate to listing all seats -->
        </ul>
        <!--TODO: create form for adding a new seat -->
    </div>
</body>
</html>
